#banner
  = image_tag 'banner.jpg'
  %h1
    shout at an idiot,
    %br
    about a thing

%h2.bottom-heading Popular
%ul#popular-topics
  / start the loop here
  - @topics.each do |topic|
    = render partial: 'topic_row', locals: { topic: topic }

%h2.bottom-heading Create a Topic
#create-topic
  = form_tag new_topic_path, id: 'create-topic' do
    = text_field_tag :topic, nil, placeholder: 'There is no god!!'
    = submit_tag

%h2.bottom-heading All Topics
%ul#all-topics
  / start the loop here
  - @all.each do |topic|
    = render partial: 'topic_row', locals: { topic: topic }

%script
  mixpanel.track("home page");