#session
  .center
    = link_to 'back', root_path, class: 'back'
    %h1.topic= @topic.title

    #videos
      #video1
      .vs
      #video2

.social
  %p
    That chair can only be so much fun...
    %br
    Why not provoke a real person into yelling at you?
  .like
    .fb-like{ :'data-send' => "false", :'data-width' => "50", :'data-show-faces' => "false" }
  .tweet
    %a{ href: "https://twitter.com/share", class: "twitter-share-button", :'data-lang' => "en", :'data-text' => "I'm looking for someone to yell at me about #{@topic.title}: ", :'data-hashtags' => "shoutroulette" } Tweet

#config
  %span.session-id= @room.session_id
  %span.token= @room[@position]
  %span.position= @position
  %span.room_id= @room.id
