!!! 5
%head
  = render 'layouts/config'
  %link{ href: 'http://fonts.googleapis.com/css?family=Open+Sans:400,300,700', rel: 'stylesheet' }
  = stylesheet_link_tag 'application'
  = csrf_meta_tags

  / mixpanel
  %script
    (function(c,a){window.mixpanel=a;var b,d,h,e;b=c.createElement("script");b.type="text/javascript";b.async=!0;b.src=("https:"===c.location.protocol?"https:":"http:")+'//cdn.mxpnl.com/libs/mixpanel-2.1.min.js';d=c.getElementsByTagName("script")[0];d.parentNode.insertBefore(b,d);a._i=[];a.init=function(b,c,f){function d(a,b){var c=b.split(".");2==c.length&&(a=a[c[0]],b=c[1]);a[b]=function(){a.push([b].concat(Array.prototype.slice.call(arguments,0)))}}var g=a;"undefined"!==typeof f? g=a[f]=[]:f="mixpanel";g.people=g.people||[];h="disable track track_pageview track_links track_forms register register_once unregister identify name_tag set_config people.identify people.set people.increment".split(" ");for(e=0;e<h.length;e++)d(g,h[e]);a._i.push([b,c,f])};a.__SV=1.1})(document,window.mixpanel||[]); mixpanel.init("8485335747dc1f382544ef22182a3014");

%body
  =javascript_include_tag 'application'

  #flash
    - flash.each do |k,v|
      .flash{ :class => "#{k}"}= v

  %header
    %a#logo{ href: '/' }
    %nav
      %ul
        %li
          = link_to 'about', about_path
        %li
          %a= link_to 'get angry', get_angry_path
        %li
          %a= link_to 'press', press_path
        %li
          %a= link_to 'feedback', 'mailto:feedback@shoutroulette.com'
        %li
          %a{ href: 'http://comedyhackday.org/', target: '_blank' } #comedyhackday
  #main
    = yield

  / opentok
  %script{ src: "http://static.opentok.com/v0.91/js/TB.min.js" }

  / facebook and twitter
  #fb-root
  %script
    (function(d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=271948459587016"; fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'facebook-jssdk'));
    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
  / ga
  %script
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-34781659-1']);
    _gaq.push(['_trackPageview']);

    (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();